body.yui-dialog__body
  position: fixed
  width: 100%
.yui-border-top-1px, .yui-border-right-1px, .yui-border-bottom-1px, .yui-border-left-1px
  position: relative
  &::before, &::after
    content: ""
    display: block
    position: absolute
    transform-origin: 0 0
.yui-border-top-1px
  &::before
    border-top: 1px solid #d5d5d6
    left: 0
    top: 0
    width: 100%
    transform-origin: 0 top
.yui-border-right-1px
  &::after
    border-right: 1px solid #d5d5d6
    top: 0
    right: 0
    height: 100%
    transform-origin: right 0

.yui-border-bottom-1px
  &::after
    border-bottom: 1px solid #d5d5d6
    left: 0
    bottom: 0
    width: 100%
    transform-origin: 0 bottom

.yui-border-left-1px
  &::before
    border-left: 1px solid #d5d5d6
    top: 0
    left: 0
    height: 100%
    transform-origin: left 0
@media (min-resolution: 2dppx)
  .yui-border-top-1px
    &::before
      width: 200%
      transform: scale(.5)
  .yui-border-right-1px
    &::after
      height: 200%
      transform: scale(.5)
  .yui-border-bottom-1px
    &::after
      width: 200%
      transform: scale(.5)
  .yui-border-left-1px
    &::before
      height: 200%
      transform: scale(.5)

@media (min-resolution: 3dppx)
  .yui-border-top-1px
    &::before
      width: 300%
      transform: scale(.333)
  .yui-border-right-1px
    &::after
      height: 300%
      transform: scale(.333)
  .yui-border-bottom-1px
    &::after
      width: 300%
      transform: scale(.333)
  .yui-border-left-1px
    &::before
      height: 300%
      transform: scale(.333)
.yui-dialog-wrap
  font-size: 14px
  color: #ffffff
.yui-toast
  z-index: 1000
  max-width: 80%
  color: #ffffff
  background: rgba(0,0,0,.6)
  padding: 8px 14px
  border-radius: 4px
  position: fixed
  transition: opacity .3s linear
.yui-toast__bottom
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
.yui-toast__middle
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
.yui-toast__top
  top:50px;
  left:50%;
  transform: translate(-50%,0);
.yui-mask
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: rgba(0,0,0,.6);
  z-index: 1001;
.yui-dialog
  position: fixed;
  z-index: 1002;
  background-color: #fff;
  width: 80%;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-user-select: none;
  overflow: hidden;
  backface-visibility: hidden;
  transition: .2s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  div
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
.yui-dialog__header
  padding: 20px 10px 10px
  font-size: 16px
.yui-dialog__content
  min-height: 40px
  box-sizing: border-box
  padding: 10px 20px
.yui-dialog__msg
  font-size: 15px
  color: #999
  line-height: 1.4
.yui-popup__msg
  color: #000
.yui-dialog-ios
  border-radius: 3px
  .yui-dialog__title
    text-align: center
    line-height: 1.6
  .yui-dialog__msg
    text-align: center
  .yui-cancle-btn,.yui-confirm-btn
    flex: 1
  .yui-confirm-btn
    color: #3cc51f
.yui-dialog-android
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12)
  .yui-dialog__title
    text-align: left
    line-height: 1.6
    color: rgba(0, 0, 0, 0.87)
    padding-left: 10px
  .yui-dialog__msg
    text-align: left
    color: rgba(0, 0, 0, 0.54)
    line-height: 1.5
  .yui-popup__msg
    color: rgba(0, 0, 0, 0.54)
    text-align: center
  .yui-dialog__footer
    justify-content: flex-end
  .yui-cancle-btn,.yui-confirm-btn
    padding: 0 20px
    color: #448aff
  .yui-cancle-btn
    color: #000000
.yui-dialog__footer
  height: 48px
  display: flex
.yui-dialog__btn
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  font-size: 16px
.yui-actionsheets-item__disabled
  pointer-events: none
.yui-actionsheet-android
  width: 80%
  position: fixed
  top: 50%
  left: 50%
  -webkit-transform: translate3d(-50%,-50%,0)
  transform: translate3d(-50%,-50%,0)
  z-index:1002
  background: #ffffff
  box-shadow: 0px 4px 8px -7px rgba(0,0,0,0.2), 0px 4px 8px 3px rgba(0,0,0,0.14), 0px 4px 46px 8px rgba(0,0,0,0.12)
.yui-actionsheet-ios
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  z-index:1002
  background: #efeff4
  .yui-actionsheets-item
    &:last-child
      margin-top 8px
.yui-actionsheet
  div
    box-sizing: border-box
.yui-actionsheets-item
  height: 50px
  display: flex
  background: #ffffff
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  width: 100%
  justify-content: center
  align-items: center
  color: #323233
